body {
    background-color: white;
    color: black;
}

body > div#page {
    /* to do */
}

body > div#page > div#header {
    /* to do */
}

body > div#page > div#main {
    padding: 0% 3.125%;
}

body > div#page > div#main > h1.libtitle {
    background-color: rgb(50%,50%,100%);
    padding: 0.75em;
    font-size: 200%;
}

body > div#page > div#main > div.doc {
    /* to do */
}

body > div#page > div#main > div.doc > h1.section {
    background-color: rgb(50%,50%,100%);
    padding: 0.75em;
    font-size: 200%;
}

body > div#page > div#main > div.doc > h2.section {
    background-color: rgb(75%,75%,100%);
    padding: 0.75em;
    font-size: 150%;
}

body > div#page > div#main > div.doc > h3.section {
    background-color: rgb(87.5%,87.5%,100%);
    padding: 0.75em;
    font-size: 125%;
}

body > div#page > div#main > div.doc > div.paragraph {
    height: 1em;
}

body > div#page > div#main > div.doc span.inlinecode {
    font-size: 125%;
    font-family: monospace;
}

body > div#page > div#main > div.doc span.inlinecode > span.id {
    color: darkslateblue;
}

body > div#page > div#main > div.code {
    font-size: 125%;
    font-family: monospace;
}

body > div#page > div#main > div.code > a.idref {
    text-decoration: none;
}

body > div#page > div#main > div.code > a.modref {
    text-decoration: none;
}

body > div#page > div#main > div.code span.id[title="constructor"] {
    color: darkred;
}

body > div#page > div#main > div.code span.id[title="var"] {
    color: purple;
}

body > div#page > div#main > div.code span.id[title="variable"] {
    color: purple;
}

body > div#page > div#main > div.code span.id[title="definition"] {
    color: green;
}

body > div#page > div#main > div.code span.id[title="abbreviation"] {
    color: green;
}

body > div#page > div#main > div.code span.id[title="lemma"] {
    color: green;
}

body > div#page > div#main > div.code span.id[title="instance"] {
    color: green;
}

body > div#page > div#main > div.code span.id[title="projection"] {
    color: green;
}

body > div#page > div#main > div.code span.id[title="method"] {
    color: green;
}

body > div#page > div#main > div.code span.id[title="inductive"] {
    color: blue;
}

body > div#page > div#main > div.code span.id[title="record"] {
    color: blue;
}

body > div#page > div#main > div.code span.id[title="class"] {
    color: blue;
}

body > div#page > div#main > div.code span.id[title="keyword"] {
    color: red;
}

body > div#page > div#main > div.code span.id[title="library"] {
    color: dodgerblue;
}

body > div#page > div#main > div.code a.idref:target {
    border: 2px solid lightgray;
    background-color: lightyellow;
}

body > div#page > div#footer {
    font-size: 75%;
}
